modules = ["web", "nodejs-23"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Preview Server"

[[workflows.workflow]]
name = "Preview Server"
author = 42527102
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx live-server --port=5000 --host=0.0.0.0 --no-browser"

[[ports]]
localPort = 5000
externalPort = 80
